body {
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
  border: 3px solid black;
  border-radius: 3px;
  height: 575px;
  width: 575px;
}

.gridDiv {
  border: 1px solid blue;
  background-color: white;
}

.gridDiv:hover {
  background-color: orangered;
}

.gridDiv:active {
  background-color: green;
}

.sliderContainer,
.buttons,
.menu {
  border: 2px solid red;
}
